<div class="m-publisherSearchModal">
  <div class="m-publisherSearch__bar">
    <i class="material-icons m-publisherSearchBar__icon" (click)="onSearch()"
      >search</i
    >
    <input
      [(ngModel)]="q"
      name="q"
      type="text"
      id="search"
      autocomplete="off"
      [placeholder]="placeholder"
      i18n-placeholder="@@COMMON__SEARCH"
      #searchInput
      class="m-legible"
    />
    <label class="mdl-textfield__label" for="search"></label>
  </div>

  <!-- Hack because $localize doesn't work in ts files -->
  <ng-container *ngIf="false">
    <ng-container i18n="@@COMMON__SEARCH__SHORT">Search</ng-container>
  </ng-container>

  <!-- ------------------------------ -->

  <p class="m-publisherSearchModal__desc m-legible">
    <ng-container i18n="@@COMMON__SEARCH__SHORT">Search </ng-container>
    <ng-container *ngIf="type === 'user'"
      >@{{ publisher.username }}'s

      <ng-container i18n="@@COMMON__CHANNEL"
        >channel</ng-container
      ></ng-container
    ><ng-container *ngIf="type === 'group'">{{ publisher.name }}</ng-container
    ><ng-container i18n="@@M_PUBLISHER_SEARCH__DESC">
      for posts, videos and all other content</ng-container
    >
  </p>
</div>
